/* RESET */

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font-weight: normal;
    font: inherit;
    vertical-align: baseline;
}


/*m media queries */

@media screen and (max-width: 1123px); {
  div#banner-text {
    padding-top: 45px;
  }
}




@media screen and (max-width: 376px) {
/*  h1#call {
    font-size: 28px;
    margin: auto;
    max-width: 100%;
  }*/
}

@media screen and (min-width: 377px) and (max-width: 751px) {
/*  h1#call {
    font-size: 32px;
    margin: auto;
    max-width: 100%;
  }
  div#ebook {
    margin-top: 180px; }*/
}

@media screen and (max-width: 751px) {
/*  h4#tagline {
    font-size: 22px;
    margin: auto;
    max-width: 100%;
    margin-top: 40px;
  }
  div#tagline {
    display: none;
  }
  div#banner-text {
    margin-top: 0;
    padding-top: 0;
    text-align: center;
  }*/
/*  div#share { display: none; }
  div#form { margin-top: 0; }*/
}

@media screen and (min-width: 900px) and (max-width: 1060px) {
/*  h1#call {
    margin-top: 40px;
  }
  div#banner-text {
    margin-top: 100px;
    padding-top: 0;
  }
  div#ebook {
    margin-top: 120px;
  }*/
}

@media screen and (min-width: 752px) and (max-width: 1350px) {
/*  div#ebook {
    margin-top: 80px;
  }*/
}


/* global */

html {
  margin: auto;
  width: 100%;
  background-color: #414855;
}

body {
  margin: auto;
  font-family: 'Lato', sans-serif;
  color: white;
  background-color: white;
  max-width: 1440px;
}

h1 {
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
  letter-spacing: 1px;
  font-size: 40px;
}

h2 {
  font-family: 'Montserrat', sans-serif;
  color: #414855;
  font-size: 30px;
}

h4 {
  font-family: 'Montserrat', sans-serif;
  font-weight: bolder;
  font-size: 20px;
}

strong {
  font-weight: bold;
}

input, select {
  border-width: 0;
  box-shadow: 0 0 16px 1px #bdbdbd;
}

footer {
  background-color: #414855;
  height: 100px;
  margin-bottom: 0;
}

ul li {
  padding-top: 4px;
  max-width: 90%;
  margin-left: 8px;
}

hr {
  border-color: black;
  border-width: 1px;
}


/* layout */

div.container {
  max-width: 1175px;
}

div#col2 {
  padding-left: 40px;
}


/* headings */

h1#call {
  max-width: 95%;
}

h4#tagline {
  max-width: 90%;
  font-size: 23px;
  margin-top: 28px;
  font-weight: 400;
}

div#ebook h2 {
  font-family: 'Montserrat', sans-serif;
  color: #303030;
  font-size: 26px;
  font-weight: 500;
  margin-top: 16px;
  letter-spacing: 1px;
}

h2#download {
  text-transform: uppercase;
  font-size: 26px;
  font-weight: 500;
  font-size: 28px;
  padding-top: 38px;
}

div#form label {
  color: #414855;
  font-size: 14px;
  font-weight: 400;
  padding-bottom: 8px;
}


/* images */

div#hero {
  background: url("bg.png") no-repeat top center;
  background-size: auto 600px;
  background-repeat: no-repeat;
  max-width: 1440px;
}

img#avatar {
  border-radius: 50%;
  height: 120px;
}

div#share-icons {
  padding-left: 8px;
  padding-top: 0;
  margin-top: 0;
}

i.fab {
  color: #3fb18f;
  font-size: 23px;
  padding: 5px;
}

div#chevron {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

i.fa-chevron-down {
  font-size: 64px;
  margin-top: 28px;

}


/* navbar */

#navbar {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

div#share {
  display: flex;
  align-items: center;
  padding-top: 0;
  margin-top: 0;
}

#navbar span {
  font-size: 14px;
  font-weight: 300;
}


/* above fold */

div#banner-text {
  padding-top: 130px;
}


/* below fold */

div#ebook {
  margin-top: 70px;
}

div#ebook p, li {
  max-width: 435px;
  color: #303030;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.5px;
}

div#form {
  height: 685px;
  width: 97%;
  background-color: #dedede;
  margin: auto;
  padding-left: 40px;
  padding-right: 40px;
}

button.btn-form {
  background-color: #3fb18f;
  width: 100%;
  height: 60px;
  font-size: 24px;
}

div.testimonial {
  max-width: 350px;
  margin: auto;
  color: #414855;
}

div.testimonial blockquote {
  font-family: 'Lato', sans-serif;
  font-style: italic;
  font-size: 18px;
  color: #303030;
  line-height: 24px;
  letter-spacing: 0.5px;
}

div.testimonial span {
  color: #3fb18f;
  font-family: 'Lato', sans-serif;
  font-size: 24px;
}

p#signature {
  font-size: 18px;
}


/* footer */

div#footer {
  height: 100px;
  display: flex;
  align-items: center;
  /*justify-content: space-around;*/
  flex-direction: row;
}

footer p {
  font-size: 14px;
  font-weight: 300;
  line-height: 24px;
  letter-spacing: 0.3px;
}

p#address {
  padding-left: 135px;
}

p#copyright {
  padding-right: 160px;
  text-align: right;
}


