html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font-weight: normal;
    font: inherit;
    vertical-align: baseline;
}


@media screen and (max-width: 1123px); {
  div#banner-text {
    padding-top: 45px;
  }
}




@media screen and (max-width: 376px) {
/*  h1#call {
    font-size: 28px;
    margin: auto;
    max-width: 100%;
  }*/
}

@media screen and (min-width: 377px) and (max-width: 751px) {
/*  h1#call {
    font-size: 32px;
    margin: auto;
    max-width: 100%;
  }
  div#ebook {
    margin-top: 180px; }*/
}

@media screen and (max-width: 751px) {
/*  h4#tagline {
    font-size: 22px;
    margin: auto;
    max-width: 100%;
    margin-top: 40px;
  }
  div#tagline {
    display: none;
  }
  div#banner-text {
    margin-top: 0;
    padding-top: 0;
    text-align: center;
  }*/
/*  div#share { display: none; }
  div#form { margin-top: 0; }*/
}

@media screen and (min-width: 900px) and (max-width: 1060px) {
/*  h1#call {
    margin-top: 40px;
  }
  div#banner-text {
    margin-top: 100px;
    padding-top: 0;
  }
  div#ebook {
    margin-top: 120px;
  }*/
}

@media screen and (min-width: 752px) and (max-width: 1350px) {
/*  div#ebook {
    margin-top: 80px;
  }*/
}

html {
  width: 100%;
  background-color: #414855;
  font-weight: normal;
  margin: auto;
}

body {
  font-family: 'Lato', sans-serif;
  font-weight: normal;
  color: white;
  background-color: white;
  margin: auto;
  max-width: 1440px;
}

.container {
  max-width: 1175px;
}

h1 {
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
  letter-spacing: 1px;
  font-size: 40px;
}

#banner-text {
  padding-top: 130px;
}

#form h2 {
  font-family: 'Montserrat', sans-serif;
  text-transform: uppercase;
  font-weight: 900;
  font-size: 26px;
}

#form label {
  color: #414855;
  font-size: 14px;
  font-weight: 400;
  padding-bottom: 8px;
}

h2 {
  font-family: 'Montserrat', sans-serif;
  color: #414855;
  font-size: 30px;
}

h4 {
  font-family: 'Montserrat', sans-serif;
  font-weight: bolder;
  font-size: 20px;
}

#hero {
  background: url("bg.png") no-repeat top center;
  background-size: auto 600px;
  background-repeat: no-repeat;
  max-width: 1440px;
}

#navbar {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

#navbar span {
  font-size: 14px;
  font-weight: 100;
}

span .bold {
  font-weight: bold;
}

#call {
  max-width: 95%;
}

#tagline {
  max-width: 90%;
  font-size: 23px;
  margin-top: 8px;
  font-weight: 400;
}

#chevron {
  display: flex;
  justify-content: center;
}

.fa-chevron-down {
  font-size: 64px;
  margin-top: 28px;
}

#ebook {
  margin-top: 70px;
}

#ebook p, li {
  max-width: 435px;
  color: #303030;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.5px;
}

#ebook h2 {
  font-family: 'Montserrat', sans-serif;
  color: #303030;
  font-size: 26px;
  font-weight: 500;
  margin-top: 16px;
  letter-spacing: 1px;
}

#ebook p strong {
  font-weight: 700;
}

#share {
  display: flex;
  align-items: center;
  padding-top: 0;
  margin-top: 0;
}

div#share span {
  font-weight: 300;
}

#share-icons {
  padding-left: 8px;
  padding-top: 0;
  margin-top: 0;
}

#download{
  padding-top: 38px;
}

h2#download {
  font-weight: 500;
  font-size: 28px;
}

.fab {
  color: #3fb18f;
  font-size: 23px;
  padding: 5px;
}

ul li {
  padding-top: 4px;
  max-width: 90%;
}

ul {
  margin-left: 0;
}

#form {
  height: 690px;
  width: 90%;
  background-color: #dedede;
  margin: auto;
  padding-left: 40px;
  padding-right: 40px;
}

hr {
  border-color: black;
  border-width: 1px;
}

.btn-form {
  background-color: #3fb18f;
  width: 100%;
  height: 60px;
  font-size: 24px;
}

#avatar {
  border-radius: 50%;
  height: 120px;
}

.testimonial {
  max-width: 350px;
  margin: auto;
  color: #414855;
}

.testimonial blockquote {
  font-family: 'Lato', sans-serif;
  font-style: italic;
  font-size: 18px;
  color: #303030;
  line-height: 24px;
  letter-spacing: 0.5px;
}

.testimonial span {
  color: #3fb18f;
  font-family: 'Lato', sans-serif;
  font-size: 24px;
}

#signature {
  font-size: 18px;
}

input, select {
  border-width: 0;
  box-shadow: 0 0 16px 1px #bdbdbd;
}

strong {
  font-weight: bold;
}

footer {
  background-color: #414855;
  height: 100px;
  margin-bottom: 0;
}

#footer {
  height: 100px;
  display: flex;
  align-items: center;
}


footer p {
  font-size: 14px;
  font-weight: 300;
  line-height: 24px;
  letter-spacing: 0.5px;
}
